<?xml version="1.0" encoding="utf-8"?>
<!--TODO: Walker Unit (Grid) > the counts: Count together Anc + HM + Daub / All-->
<!--TODO: The 'Walkers' webview needs to say something nice when there aren't any walkers-->
<!--TODO: Upon clicking "Add New Survey Unit', if the 'Number of Walkers' doesn't match the number of selected walkers, there should be a warning-->
<!--TODO: Use final globals instead of "isRowIndex", etc-->
<!--@POSTPROC: ./postproc.sh -->
<module>

<rels>
  <RelationshipElement name="Survey Unit - Walker" type="hierarchical">
    <description>A 1-to-n relationship between the parent and its children, respectively.</description>
    <parent>Parent Of</parent>
    <child>Child Of</child>
    <property type="measure" name="Order" isIdentifier="true"/>
  </RelationshipElement>
</rels>

<Login f="nodata">
  <Login f="noscroll">
    <User t="list" f="user" l="Control"/>
  </Login>
</Login>

<Control f="nodata">
  <Main>
    <Add_New_Survey_Unit t="button" l="Survey_Unit"/>
    <autonum/>
    <Guide_Defaults t="webview" f="nolabel">
      <markdown>Enter below the daily defaults - the dominant environmental characteristics of study area</markdown>
    </Guide_Defaults>
    <Number_of_Rows    b="decimal" f="notnull persist">
      Starting Number of Rows
    </Number_of_Rows>
    <Number_of_Walkers b="decimal" f="notnull persist">
    </Number_of_Walkers>
    <Row_Interval      b="decimal" f="notnull persist">
      Row Interval (m)
    </Row_Interval>
    <Walker_Interval   b="decimal" f="notnull persist">
      Walker Interval (m)
    </Walker_Interval>
    <Land_Use t="dropdown" f="persist" vp="Survey_Unit/Survey_Unit/Land_Use"/>
    <Agricultural_Condition t="dropdown" vp="Survey_Unit/Survey_Unit/Agricultural_Condition">
      <!-- custom logic: f="persist" -->
    </Agricultural_Condition>
    <Topography t="dropdown" f="persist" vp="Survey_Unit/Survey_Unit/Topography"/>
    <Slope t="dropdown" f="persist" vp="Survey_Unit/Survey_Unit/Slope"/>
    <Visibility t="dropdown" f="persist" vp="Survey_Unit/Survey_Unit/Visibility"/>
    <Passability t="radio" f="persist" vp="Survey_Unit/Survey_Unit/Passability"/>
    <Drainage t="radio" f="persist" vp="Survey_Unit/Survey_Unit/Drainage"/>
    <Vegetation t="radio" f="persist" vp="Survey_Unit/Survey_Unit/Vegetation"/>
    <Stoniness t="radio" f="persist" vp="Survey_Unit/Survey_Unit/Stoniness"/>
    <Shade t="radio" f="persist" vp="Survey_Unit/Survey_Unit/Shade"/>
  </Main>
  <Walkers f="noscroll">
    <cols>
      <Add_New_Walker         t="button" l="Walker"/>
      <Delete_Selected_Walker t="button">
        Delete Walker
      </Delete_Selected_Walker>
    </cols>
    <cols>
      <col>
        <Up   t="button"/>
        <Down t="button"/>
      </col>
      <col>
        <Plus  t="button">Move Up</Plus>
        <Minus t="button">Move Down</Minus>
      </col>
      <col>
        <Toggle_Selection t="button">
          (De)select
        </Toggle_Selection>
        <Save t="button"/>
      </col>
    </cols>
    <Walker_Guide t="webview" f="nolabel">
      <markdown>
Use the '▲', '▼' and '(De)select' buttons to choose walkers for your team. Selected walkers will be numbered and in green. Walker no.1 is left-most.
      </markdown>
    </Walker_Guide>
    <Walkers t="webview"/>
  </Walkers>
  <search/>
</Control>

<Survey_Unit>
  <Survey_Unit>
    <Survey_Unit_ID f="id autonum"/>
    <Land_Use i="Control/Main/Land_Use">
      <desc>Prevalent landuse in a given Survey Unit.</desc>
      <opts>
        <opt>Annual Agriculture</opt>
        <opt>Perennial Agriculture</opt>
        <opt>Fallow field</opt>
        <opt>Pasture</opt>
        <opt>Scrub</opt>
        <opt>Forest</opt>
        <opt>Wetland</opt>
        <opt>Urban</opt>
        <opt>Industrial</opt>
        <opt>Communication</opt>
        <opt>Beach</opt>
        <opt>Other</opt>
      </opts>
    </Land_Use>
    <Agricultural_Condition i="Control/Main/Agricultural_Condition">
      <desc>Agricultural condition of fields in use.</desc>
      <opts>
        <opt>N/A</opt>
        <opt>Ploughed</opt>
        <opt>Harrowed</opt>
        <opt>Seedlings</opt>
        <opt>Immature Crop</opt>
        <opt>Mature Crop</opt>
        <opt>Harvested Clean</opt>
        <opt>Harvested with Stubble</opt>
        <opt>Partially Fallow</opt>
        <opt>Burnt</opt>
        <opt>Other</opt>
      </opts>
    </Agricultural_Condition>
    <Topography i="Control/Main/Topography">
      <desc>Topography of the surveyed area.</desc>
      <opts>
        <opt>N/A</opt>
        <opt>Hillside</opt>
        <opt>Reservoir Slope</opt>
        <opt>Ridgeline</opt>
        <opt>River Terrace</opt>
        <opt>Undulating Landscape</opt>
        <opt>Valley Bottom</opt>
        <opt>Other</opt>
      </opts>
    </Topography>
    <Slope i="Control/Main/Slope">
      <desc>Slope of the surveyed surface. Level &lt;2%, Gentle 2-15%, Steep 15-30 %, Very Steep 30-45%, Impassable &gt;45%.</desc>
      <opts>
        <opt>Level</opt>
        <opt>Gentle</opt>
        <opt>Steep</opt>
        <opt>Very Steep</opt>
        <opt>Impassable</opt>
      </opts>
    </Slope>
    <Visibility i="Control/Main/Visibility">
      <desc>Surface visibility in quantiles. 0-20% none, 20-40% low, 40-60% moderate, 60-80% good, 80-100% excellent  </desc>
      <opts>
        <opt>0-20%</opt>
        <opt>20-40%</opt>
        <opt>40-60%</opt>
        <opt>60-80%</opt>
        <opt>80-100%</opt>
      </opts>
    </Visibility>
    <Passability t="radio" i="Control/Main/Passability">
      <desc>Passability on a scale from 1-5 with 1 being Easy Passable and 5 Impassable.</desc>
      <opts>
        <opt>1</opt>
        <opt>2</opt>
        <opt>3</opt>
        <opt>4</opt>
        <opt>5</opt>
      </opts>
    </Passability>
    <Drainage t="radio" i="Control/Main/Drainage">
      <desc>Drainage of the surveyed area with 1 being dry, 5 wet.</desc>
      <opts>
        <opt>1</opt>
        <opt>2</opt>
        <opt>3</opt>
        <opt>4</opt>
        <opt>5</opt>
      </opts>
    </Drainage>
    <Vegetation t="radio" i="Control/Main/Vegetation">
      <desc>Vegetation of the surveyed surface with 1 having no vegetation, 5 being overgrown with vegetation. </desc>
      <opts>
        <opt>1</opt>
        <opt>2</opt>
        <opt>3</opt>
        <opt>4</opt>
        <opt>5</opt>
      </opts>
    </Vegetation>
    <Stoniness t="radio" i="Control/Main/Stoniness">
      <desc>Presence of stones in the surveyed area with 1 being not present at all, and 5 being very frequent.</desc>
      <opts>
        <opt>1</opt>
        <opt>2</opt>
        <opt>3</opt>
        <opt>4</opt>
        <opt>5</opt>
      </opts>
    </Stoniness>
    <Shade t="radio" i="Control/Main/Shade">
      <desc>Presence of shade in the surveyed area with 1 being not present at all, and 5 covering all the surveyed area.</desc>
      <opts>
        <opt>1</opt>
        <opt>2</opt>
        <opt>3</opt>
        <opt>4</opt>
        <opt>5</opt>
      </opts>
    </Shade>
    <Number_of_Rows     b="decimal" f="readonly" i="Control/Main/Number_of_Rows"/>
    <Number_of_Walkers  b="decimal" f="readonly" i="Control/Main/Number_of_Walkers"/>
    <Row_Interval       b="decimal" f="readonly" i="Control/Main/Row_Interval"/>
    <Walker_Interval    b="decimal" f="readonly" i="Control/Main/Walker_Interval"/>
  </Survey_Unit>
  <Walker_Units f="noscroll">
    <Add_New_Walker_Unit lc="Walker_Unit" t="button">
      View Walker Grid
    </Add_New_Walker_Unit>
    <!--Displaying this list is costly, so we just won't do it-->
    <!--<Walker_Units        ec="Walker_Unit"/>-->
  </Walker_Units>
  <Vars f="hidden">
    <Highlighted_Row    b="decimal" f="nodata"/>
    <Highlighted_Walker b="decimal" f="nodata"/>
  </Vars>
</Survey_Unit>

<Walker>
  <fmt>{{First_Name if $0 then "$0"}}{{Last_Name if $0 then " $0"}}{{Initials if $0 then " ($0)"}}</fmt>
  <Walker>
    <Help t="webview" f="nolabel">
      <markdown>
**Warning:** Deleting this Walker will disassociate it from all the Survey Units
in which it appears.
      </markdown>
    </Help>
    <First_Name/>
    <Last_Name/>
    <Initials/>
  </Walker>
</Walker>

<Walker_Unit>
  Walker Grid
  <Walker_Unit>
    Walker Grid
    <Survey_Unit_ID t="webview" f="nolabel"/>
    <Grid           t="webview" f="nolabel"/>
    <!--D-Pad-->
    <cols>
      <Delete_Row t="button"/>
      <Up         t="button"/>
      <!--Confirms that all unfilled rows have zeros-->
      <Zero_Row_And_Next_1 t="button">
        Next Row
      </Zero_Row_And_Next_1>
    </cols>
    <cols>
      <Left       t="button"/>
      <Load       t="button">Load/Save</Load>
      <Right      t="button"/>
    </cols>
    <cols>
      <N_A t="checkbox">
        <opts>
          <opt>N/A</opt>
        </opts>
      </N_A>
      <Down       t="button"/>
      <Next_Walker_Unit_1 t="button">
        Next Cell
      </Next_Walker_Unit_1>
    </cols>
    <!--Buttons-->
    <!--Primary recording fields-->
    <Guide_Counts t="webview" f="nolabel">
      <markdown>
Enter **raw count** or click the m^2^ button to enter **density** per square m.
      </markdown>
    </Guide_Counts>
    <cols>
      <Ancient b="decimal"/>
      <Add_Ancient_M_2 t="button">
        Anc. m&#178;
      </Add_Ancient_M_2>
      <HM     b="decimal"/>
      <Add_HM_M_2 t="button">
        HM m&#178;
      </Add_HM_M_2>
    </cols>
    <cols>
      <Modern  b="decimal"/>
      <Add_Modern_M_2  t="button">
        Mod. m&#178;
      </Add_Modern_M_2>
      <Lithic b="decimal"/>
      <Add_Lithic_M_2 t="button">
        Lit. m&#178;
      </Add_Lithic_M_2>
    </cols>
    <cols>
      <A_C     b="decimal">
        A/C
      </A_C>
      <Add_A_C_M_2     t="button">
        A/C m&#178;
      </Add_A_C_M_2>
      <Glass  b="decimal"/>
      <Add_Glass_M_2     t="button">
        Gla. m&#178;
      </Add_Glass_M_2>
    </cols>
    <cols>
      <Daub b="decimal"/>
      <Add_Daub_M_2 t="button">
        Dau. m&#178;
      </Add_Daub_M_2>
      <Other  b="decimal"/>
      <Add_Other_M_2 t="button">
        Oth. m&#178;
      </Add_Other_M_2>
    </cols>
    <Notes/>
    <!--Buttons-->
    <cols>
      <Zero_Row_And_Next_2 t="button">
        Next Row
      </Zero_Row_And_Next_2>
      <Next_Walker_Unit_2 t="button">
        Next Cell
      </Next_Walker_Unit_2>
    </cols>
    <Load_Walker t="radio" f="nodata"/>
    <!--Secondary recording fields-->
    <Chronology t="checkbox">
      <opts>
        <opt>Prehistoric</opt>
        <opt>Classical</opt>
        <opt>Medieval</opt>
        <opt>Ottoman</opt>
      </opts>
    </Chronology>
    <Fragmentation t="radio">
      <opts>
        <opt>1</opt>
        <opt>2</opt>
        <opt>3</opt>
        <opt>4</opt>
        <opt>5</opt>
      </opts>
    </Fragmentation>
    <Wear t="radio">
      <opts>
        <opt>1</opt>
        <opt>2</opt>
        <opt>3</opt>
        <opt>4</opt>
        <opt>5</opt>
      </opts>
    </Wear>
    <Next_Survey_Unit t="button"/>
  </Walker_Unit>
  <Vars f="hidden">
    <Row_ID    b="decimal" f="id readonly"/>
    <Walker_ID b="decimal" f="id readonly"/>
  </Vars>
</Walker_Unit>

<Saving f="nodata">
  Saving...
  <Saving>
    Saving...
    <Saving t="webview" f="nolabel"/>
  </Saving>
</Saving>

<logic><![CDATA[
  <!--@SOURCE: logic/header.bsh-->
  <!--@SOURCE: logic/util.bsh-->
  <!--@SOURCE: logic/saving-2.5.bsh-->

  <!--@SOURCE: logic/density.bsh-->
  <!--@SOURCE: logic/grid.bsh-->
  <!--@SOURCE: logic/navigation-drawer.bsh-->
  <!--@SOURCE: logic/survey-unit-id-population.bsh-->
  <!--@SOURCE: logic/survey-unit-walker-population.bsh-->
  <!--@SOURCE: logic/validation.bsh-->
  <!--@SOURCE: logic/custom-search.bsh-->
  <!--@SOURCE: logic/walker-ordering.bsh-->
  <!--@SOURCE: logic/walker-initials.bsh-->
  <!--@SOURCE: logic/persistence.bsh-->
]]></logic>

</module>
